@use '../atoms/variables' as *;

body.contact {
    #banner {
        position: relative;
        z-index: 1;
        overflow: hidden;
        background-color: $black;
        color: $white;
        font-weight: $light;
        padding: 10rem 0 6rem 0;

        @media #{$mq-md-min} {
            padding: 15rem 0 10rem 0;
        }

        @media #{$mq-lg-min} {
            padding: 20rem 0 15rem 0;
        }

        @media #{$mq-xl-min} {
            padding: 28rem 0 20rem 0;
        }

        .bg {
            position: absolute;
            z-index: 0;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url(../img/banner-contato.jpg) center center / cover no-repeat;
        }

        .container {
            position: relative;
            z-index: 2;
        }
    }

    #middle {
        color: $black;
        font-weight: $light;
        padding: 2rem 0 3rem 0;

        @media #{$mq-md-min} {
            padding: 3rem 0 5rem 0;
        }

        @media #{$mq-lg-min} {
            padding: 4rem 0 10rem 0;
        }

        .top {
            color: $black;

            svg {
                width: 13rem;
                height: auto;
                margin-top: 2rem;

                @media #{$mq-sm-min} {
                    width: 15rem;
                }

                @media #{$mq-md-min} {
                    width: 20rem;
                    margin-top: .75rem;
                }

                @media #{$mq-xl-min} {
                    width: 25rem;
                }
            }
        }

        /*
        .form {
            display: block;
            margin: 3rem 0 5rem 0;

            @media #{$mq-sm-min} {
                margin-top: 4rem;
            }

            @media #{$mq-md-min} {
                margin: 5rem 0;
            }

            @media #{$mq-lg-min} {
                margin: 7rem 0;
            }

            .right {
                @media #{$mq-md-min} {
                    height: auto;
                    align-items: stretch;
                }

                .form-line {
                    @media #{$mq-md-min} {
                        display: flex;
                        align-items: stretch;
                        justify-content: flex-start;
                        flex-direction: column;
                        margin-bottom: 0;
                        height: calc(100% - 4.3rem);
                    }

                    @media #{$mq-lg-min} {
                        height: calc(100% - 4.5rem);
                    }

                    @media #{$mq-xl-min} {
                        height: calc(100% - 4.7rem);
                    }

                    @media #{$mq-2xl-min} {
                        height: calc(100% - 4.9rem);
                    }

                    .textarea {
                        @media #{$mq-md-min} {
                            height: 100%;
                            min-height: 100%;
                        }
                    }
                }
            }

            .green-button {
                position: relative;
                float: right;

                .loading {
                    position: absolute;
                    z-index: 2;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    opacity: 0;
                    transition: .3s;
                    color: $white;

                    svg {
                        width: 1.35rem;
                        height: 1.35rem;
                        animation: rotation 2s linear infinite;

                        @media #{$mq-lg-min} {
                            width: 1.75rem;
                            height: 1.75rem;
                        }
                    }
                }

                &.sending {
                    color: transparent;
                    background-color: $gray-light;
                    pointer-events: none;
                    cursor: auto;

                    .loading {
                        opacity: 1;
                    }
                }
            }
        }
        */

        .address {
            color: $black;
            font-weight: $light;
            margin-top: 3rem;

            @media #{$mq-sm-min} {
                margin-top: 4rem;
            }

            @media #{$mq-md-min} {
                margin-top: 5rem;
            }

            @media #{$mq-lg-min} {
                margin-top: 7rem;
            }

            .image {
                display: block;
                width: 10rem;
                margin-bottom: 3rem;

                @media #{$mq-md-min} {
                    width: 13rem;
                    margin-bottom: 0;
                }

                @media #{$mq-lg-min} {
                    width: 15rem;
                }

                img {
                    width: 100%;
                }
            }

            p {
                display: block;
                border-top: 1px solid $black;
                padding-top: 1rem;
                padding-bottom: 1rem;

                @media #{$mq-lg-min} {
                    padding-top: 2rem;
                    padding-bottom: 2rem;
                }
            }
        }
    }
}