@use '../atoms/variables' as *;

body.services {
    #banner {
        position: relative;
        z-index: 1;
        overflow: hidden;
        background-color: $black;
        color: $white;
        font-weight: $light;
        padding: 10rem 0;

        @media #{$mq-md-min} {
            padding: 15rem 0;
        }

        @media #{$mq-lg-min} {
            padding: 20rem 0;
        }

        @media #{$mq-xl-min} {
            padding: 28rem 0;
        }

        .bg {
            position: absolute;
            z-index: 0;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url(../img/banner-servicos.jpg) center center / cover no-repeat;
        }

        .container {
            position: relative;
            z-index: 2;
        }
    }

    #boxes {
        position: relative;
        z-index: 2;
        margin-top: -4rem;

        @media #{$mq-sm-min} {
            margin-top: -5rem;
        }

        @media #{$mq-md-min} {
            margin-top: -7rem;
        }

        @media #{$mq-lg-min} {
            margin-top: -8rem;
        }

        @media #{$mq-xl-min} {
            margin-top: -10rem;
        }

        .box {
            display: block;
            position: relative;
            background-color: $green;
            color: $beige;
            padding: 1.5rem 1.5rem 5rem 1.5rem;
            margin-bottom: 1rem;

            @media #{$mq-xs-min} {
                padding: 2rem 2rem 8rem 2rem;
            }

            @media #{$mq-sm-min} {
                margin-bottom: 2rem;
            }

            @media #{$mq-lg-min} {
                margin-bottom: 3rem;
            }

            @media #{$mq-xl-min} {
                margin-bottom: 4rem;
            }

            @media #{$mq-2xl-min} {
                padding: 3rem 3rem 10rem 3rem;
            }

            &:nth-child(1) {
                &:before {
                    content: "";
                    position: absolute;
                    right: 100%;
                    top: 50%;
                    transform: translateY(-50%);
                    width: .5rem;
                    height: 1px;
                    background-color: $green;

                    @media #{$mq-sm-min} {
                        height: 2px;
                        width: 1rem;
                    }

                    @media #{$mq-md-min} {
                        width: 3rem;
                    }
                }

                &:after {
                    top: calc(50% - 1px);
                }
            }

            &:after {
                content: "";
                position: absolute;
                right: calc(100% + .5rem);
                top: -4rem;
                width: 1px;
                height: calc(100% + 4rem);
                background-color: $green;

                @media #{$mq-sm-min} {
                    right: calc(100% + 1rem);
                    width: 2px;
                }

                @media #{$mq-md-min} {
                    right: calc(100% + 3rem);
                }
            }

            .top {
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                font-weight: $medium;
            }

            .title {
                display: block;
                margin: 1rem 0;

                @media #{$mq-xl-min} {
                    margin: 2rem 0;
                }
            }

            .logo {
                position: absolute;
                width: auto;
                height: 1.5rem;
                bottom: 1.5rem;
                left: 1.5rem;

                @media #{$mq-xs-min} {
                    height: 2rem;
                    bottom: 2rem;
                    left: 2rem;
                }

                @media #{$mq-md-min} {
                    height: 2.5rem;
                }

                @media #{$mq-2xl-min} {
                    bottom: 3rem;
                    left: 3rem;
                }

                svg {
                    height: 100%;
                    width: auto;
                }
            }
        }
    }

    #cases {
        color: $black;
        font-weight: $light;
        padding: 2rem 0 5rem 0;

        @media #{$mq-md-min} {
            padding: 3rem 0 6rem 0;
        }

        @media #{$mq-lg-min} {
            padding: 4rem 0 10rem 0;
        }

        .col-12 {
            position: relative;

            &:before {
                content: "";
                position: absolute;
                top: -8rem;
                right: calc(100% + .5rem - 15px);
                width: 1px;
                background-color: $green;
                height: 9.5rem;

                @media #{$mq-sm-min} {
                    height: 9.7rem;
                    width: 2px;
                    right: calc(100% + 1rem - 15px);
                }

                @media #{$mq-md-min} {
                    right: calc(100% + 3rem - 15px);
                }

                @media #{$mq-lg-min} {
                    height: 10rem;
                }

                @media #{$mq-xl-min} {
                    height: 10.3rem;
                }
            }

            &:after {
                content: "";
                position: absolute;
                left: calc(-.5rem + 15px);
                width: .4rem;
                height: 1px;
                background-color: $green;
                top: calc(1.5rem - 1px);

                @media #{$mq-sm-min} {
                    width: .7rem;
                    top: calc(1.7rem - 2px);
                    left: calc(-1rem + 15px);
                    height: 2px;
                }

                @media #{$mq-md-min} {
                    left: calc(-3rem + 15px);
                    width: 2rem;
                }

                @media #{$mq-lg-min} {
                    top: calc(2rem - 2px);
                }

                @media #{$mq-xl-min} {
                    top: calc(2.3rem - 2px);
                }
            }
        }

        .cases {
            display: block;
            margin-top: 1rem;
            border-bottom: 1px solid $black;

            @media #{$mq-md-min} {
                margin-top: 2rem;
            }

            @media #{$mq-lg-min} {
                margin-top: 3rem;
                border: none;
            }

            p {
                display: block;
                border-top: 1px solid $black;
                padding-top: 1rem;
                padding-bottom: 1rem;

                @media #{$mq-lg-min} {
                    padding-top: 2rem;
                    padding-bottom: 0;
                }
            }
        }
    }
}